.container {
  max-width: rem(878);
  margin: auto;
}

.container-section {
  margin: auto;
  padding: 0 rem(12);
}

@media (min-width: 480px) {
  .container-section {
    padding: 0 rem(18);
  }
}

@media (min-width: 768px) {
  .container-section {
    padding: 0 rem(64);
  }
}

@media (min-width: 960px) {
  .container-section {
    padding: 0 rem(80);
  }
}

@media (min-width: 1200px) {
  .container-section {
    padding: 0 rem(243.75);
  } 
}

@media (min-width: 1440px) {
  .container-section {
    padding: 0 rem(292.50);
  }
}