/* ACROM REGULAR */

@font-face {
  font-family: "Acrom-regular";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Acrom-Regular.ttf') format('truetype');
}

/* ACROM MEDIUM */
@font-face {
  font-family: "Acrom-medium";
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Acrom-Medium.ttf') format('truetype');
}

/* ACROM BOLD */
@font-face {
  font-family: "Acrom-bold";
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Acrom-Bold.ttf') format('truetype');
}

/* ACROM EXTRABOLD */
@font-face {
  font-family: "Acrom-extrabold";
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Acrom-ExtraBold.ttf') format('truetype');
}


/* MininPro REGULAR */
@font-face {
  font-family: "MinionPro-regular";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MinionPro-Regular.ttf') format('truetype');
}

/* GILROY LIGHT */
@font-face {
  font-family: "Gilroy-light";
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Gilroy-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Futura-Medium";
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/FuturaMedium.ttf') format('truetype');
}

@font-face {
  font-family: "Futura-Bold";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/6551.ttf') format('truetype');
}