@media (min-width: 320px) {
  .title__text {
    padding-left: rem(24.5);
    max-width: 65%;
    margin: auto;
    text-align: left;
    font-family: "Acrom-medium", sans-serif;
    font-size: $textSizeMobile;
    text-align: left;
    position: relative;
    line-height: rem(13);
  }

  .title__text::before {
    content: "";
    display: block;
    min-height: rem(1);
    min-width: rem(13.5);
    background: #000;
    position: absolute;
    left: rem(0);
    top: rem(5);
  }
}

@media (min-width: 480px) {
  .title__text {
    font-size: $textSizeSmart;
  }

  .title__text::before {
    min-height: rem(2.2);
    min-width: rem(19);
  }
}

@media (min-width: 768px) {
  .title__text {
    font-size: $textSizeMobile;
    padding-left: rem(45.59);
    margin: 0;
    max-width: 100%;
  }

  .title__text::before {
    min-width: rem(28);
  }
}

@media (min-width: 960px) {
  .title__text {
    font-size: rem(11.22);
    line-height: rem(16.82);
  }

  .title__text::before {
    min-width: rem(28);
  }
}

@media (min-width: 1200px) {
  .title__text {
    font-size: $textSizeNotebook;
    line-height: rem(15);
  }

  .title__text::before {
    min-height: rem(4.33);
  }
}

@media (min-width: 1440px) {
  .title__text {
    font-size: rem(12);
    line-height: rem(18);
  }

  .title__text::before {
    min-height: rem(5);
    min-width: rem(37.5);
  }
}