// цвета заголовков
$titleColorWh: #ffffff;     
$titleColorBl: #000000;


// цвета текста
$textColorBl: #000000;
$textColorWh: #ffffff;
$textColorOr: #ff6b08;
$textColorGr: #afb0b3;
$textColorGr2: #bfbfbf;
$textColorGr3: #3f4144;
$textColorFtr1: #a2a2a2;
$textColorFtr2: #65666a;

// цвета фонов кнопок, buttonBgFtr - из футера
$buttonBg: #ff6b08;
$buttonBgFtr: #181c27;

// цвета фонов текста
$textBgSn: #16ebfe;
$textBgWh: #ffffff;
$textBgBl: #000000;

