.wrapper {
width: 1440px;
height: 100vh;
}
.content {
	width: 940px;
	height: 100vh;
	margin: 0 auto;
}
.galery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.img-gal {
	width: 150px;
	height: 200px;
	flex-basis: 30%;
	margin: 10px;

}

/*карточка*/
.cart {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 300px;
	height: 600px;
	padding: 20px 15px 5px 15px;
	box-shadow: 0 0 10px gray;
	margin: auto;
	margin-bottom: 10px;
}
.cart:hover {
	box-shadow: 0 0 20px black;
}

.img-cart {
	display: flex;
	transition: transform .2s linear;
}

.img-cart:hover {
	transform: rotateZ(5deg);

}


.zagol {
	display: flex;
	justify-content: center;
	 font-family: 'roboto', sans-serif;
	font-weight: bold;
	font-size: 25px;
	transition: transform .2s linear;
	transition: color .3s linear;
}

.zagol:hover {
	transform: scale(1.15, 1.15);
	color: pink;
}
.text {
	display: flex;
	text-align: center;
	 font-family: 'arial', sans-serif;
	font-weight: 400;
	font-size: 14px;

}
.butt {
	display: flex;
	width: 100px;
	height: 30px;
	margin: auto;
	justify-content: center;
	color: white;
	background-color: grey;
	border: none;
	transition: width 2s, background-color .2s;
	
}

.butt:hover { 
    width: 300px;
	background-color: pink;
}